*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #659DBD;
    height: 100vh;
    width: 100%;
    font-family: Verdana, Arial, serif;
}

/* Everything in nav bar */
nav{
    /*background-color: dodgerblue;*/
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#ul {
    margin-right: 50px;
}

h1 {
    padding-top: 30px;
}

ul > li {
    padding-top: 25px;
    list-style-type: none;
    display: inline-block;
}

li > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-left: 10px;
}

li > a:hover {
    text-decoration: none;
    color: white;
    font-size: 24px;
    border-bottom: white;
    border-bottom-style: solid;
    padding-bottom: 10px;
}

#logoName {
    color: white;
}

#selected {
    color: #425066;
}

#selected:hover {
    border: none;
}

/* End of nav bar */